body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
    /*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title span {
    font-weight: 400;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input:not([type="submit"]) {
    font-size: 16px;
}
textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 3px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values,
#import-contacts {
    display: none;
}

#date-range:target,
#initial-values:target,
#import-contacts:target {
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:#01242e;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #777;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    .helptext {
        color: #aaa;
    }
}

#editor-section {
    width: 49%;
    max-width: 49%;
    float: left;
}

#output-section {
    margin-left: 5px;
    width: 49%;
    float: right;
}

#editor {
    resize: vertical;
}

@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');